<%
let nameNoSpaces = scenario.name.replace(/ /g, '');
-%>
<div class="Scenario">
<h3 id='Scenario-<%= nameNoSpaces %>'><%= scenario.name %></h3>
<%= scenario.description %>
<img src="<%= pageDir %>/<%= scenario.name.replace(/\s/g,'') %>.puml">

<h4>Criteria</h4>
    <ol>
        <li>Given - <%= scenario.given %></li>
        <li>When - <%= scenario.when %></li>
        <li>Then - <%= scenario.then %></li>
    </ol>

<h4>Steps</h4>
<%
if(scenario.steps) {
%>
<ol>
<%
    for(let si in scenario.steps) {
        let step = scenario.steps[si];
        let parameters = "";
        if(step.parameters) {
            let items = [];
            for (let name in step.parameters) {
                items.push(`--${name} ${step.parameters[name]}`);
            }
            parameters = items.join(' ');
        }
    %>
    <li><a href='doc/action/<%= step.action %>'><%= step.action.replace(/\//, ' ')%> <%- parameters %></a></li>
    <% } %>
</ol>
<% } else { %>
To Be Defined
<% } %>

<h4>Actors</h4>
<ul>
<% for(let aname in scenario.actors) {
    aname = aname.replace(/\s/g,'');
    let actor = global.actors[aname];
    -%>
    <li><a href='doc/actor/<%= actor.shortname %>'><%= actor.name %> </a></li>
<% } %>
</ul>
</div>
