<head>
    <script src="js/aframe.js"></script>
    <script src="js/aframe.js"></script>
    <script src="js/three.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/3d-force-graph.js"></script>
    <script src="js/d3-force-3d.js"></script>
    <script src="js/d3-octree.js"></script>
    <script src="js/Graph3DLogical.js"></script>
    <script src="js/forceInACube.js"></script>
</head>
<body>
<div style="display:none;">
    <div id="scratchspace" style="display:none;">
        <a-scene embedded height="0px" width="0px">
            <a-entity id="ObjectGarden" position="-10 20 -100">
                <a-box id="package3D" position="0 0 0" width="100" height="30" depth="10" color="#cccccc"></a-box>
                <a-box id="package3DSelected" position="0 0 0" width="100" height="30" depth="10" color="#ffff00"></a-box>
                <a-box id="package3DTargeted" position="0 0 0" width="100" height="30" depth="10" color="#ff0000"></a-box>
                <a-box id="package3DSourced" position="0 0 0" width="100" height="30" depth="10" color="#00ff00"></a-sbox
                <a-sphere id="default3D" position="0 0 0" radius="10" color="#cccccc"></a-sphere>
                <a-sphere id="default3DSelected" position="0 0 0" radius="10" color="#ffff00"></a-sphere>
                <a-sphere id="default3DTargeted" position="0 0 0" radius="10" color="#ff0000"></a-sphere>
                <a-sphere id="default3DSourced" position="0 0 0" radius="10" color="#00ff00"></a-sphere>
                <% for(let cname in global.classes) {
                let cls = global.classes[cname];
                if(cls.definition.view) {
                %>
                <%- cls.definition.view.object3d() %>
                <% } } %>
            </a-entity>
        </a-scene>
    </div>
</div>
<div id="logical3D">

</div>
<div class="modelGraph" id="logical3D">
    <script type="module">
        let data = {nodes: {}, links: []};
        data.nodes["<%= package.name %>"] = {id:"<%= package.name %>", name:"<%= package.name %>", group: "package", color: "<%= package.color %>", level:"top", view:'package3D'};
        <% for(let i in package.subpackages) {
            let spackage = package.subpackages[i];
            %>
            data.nodes["<%= spackage.name %>"] = {id:"<%= spackage.name %>", name:"<%= spackage.name %>", group: "package", color: "<%= spackage.color %>", level:"<%= package.name %>", view:'package3D'};
           <%
           for(let j in spackage.depends) {
            let dpackage = spackage.depends[j];
            %>
            data.links.push({source:"<%= spackage.name %>", target:"<%= dpackage.name %>", value: 10});
            <%
            }
        }
        for(let i in package.depends) {
            let dpackage = package.depends[i];
        %>
            data.nodes["<%= dpackage.name %>"] = {id:"<%= dpackage.name %>", name:"<%= dpackage.name %>", group: "package", color: "<%= dpackage.color %>", level:"top", view:'package3D'};
            data.links.push({source:"<%= package.name %>", target:"<%= dpackage.name %>", value: 100});
            <%
        }
        %>

        let graph = new Graph3DLogical("logical3D", data, {background:"#ffffff", width:1000, height:600});

    </script>
</div>
