<head>
    <base href="http://<%= global.ailtire.config.host %><%= global.ailtire.config.urlPrefix %>/" >

    <link rel="stylesheet/less" type="text/css" href="styles/importer.less" />
    <script src="js/less.js" type="text/javascript"></script>
    <script src="js/aframe.js"></script>
</head>

<h1><%- model.name %></h1>
<%= model.description %>

<img src='./Logical.puml' > </img>

<%- partial("./templates/Model/show2d.ejs", {model: model}) %>
<%- partial("./templates/Model/show3d.ejs", {model: model}) %>

<h2>Attributes</h2>
<ul>
<% for(let i in model.attributes) {
    let attribute = model.attributes[i];
%>
<li><%= i %>:<%= attribute.type %> - <%= attribute.description %></li>
<% } %>
</ul>

<h2>Associations</h2>
<table class="AssociationTable DocTable">
    <tr>
        <th>Name</th>
        <th>Cardinality</th>
        <th>Class</th>
        <th>Composition</th>
        <th>Owner</th>
        <th>Description</th>
    </tr>
<% for(let aname in model.associations) {
    let assoc = model.associations[aname];
%>
    <tr>
        <td><%= aname %></td>
        <td><%= assoc.cardinality %></td>
        <td><a href="doc/model/<%= assoc.type %>"><%= assoc.type %></a></td>
        <td><%= assoc.composition %></td>
        <td><%= assoc.owner %></td>
        <td><%= assoc.description %></td>
    </tr>
<% } %>
</table>

<h2>Users of the Model</h2>
<table class="AssociationTable DocTable">
    <tr>
        <th>Name</th>
        <th>Cardinality</th>
        <th>Class</th>
        <th>Composition</th>
        <th>Owner</th>
        <th>Description</th>
    </tr>
    <% for(let aname in model.dependant) {
    let assoc = model.dependant[aname].assoc;
    let cls = model.dependant[aname].model;
    %>
    <tr>
        <td><%= assoc.name %></td>
        <td><%= assoc.cardinality %></td>
        <td><a href="doc/model/<%= cls.name %>"><%= cls.name %></a></td>
        <td><%= assoc.composition %></td>
        <td><%= assoc.owner %></td>
        <td><%= assoc.description %></td>
    </tr>
    <% } %>
</table>

<% if(model.statenet) {
%>
<h2>State Net</h2>
<img src='StateNet.puml'> </img>

<table class="StateNetTable DocTable">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Events</th>
    </tr>
<% for(let name in model.statenet) {
    let state = model.statenet[name];
    let eventNames = "";
%>
    <tr>
        <td><%= name %></td>
        <td><%= state.description %></td>
    <% for(let stateName in state.events) {
        let newState = Object.keys(state.events[stateName]);
        eventNames += stateName + '->' + newState[0] + ', ';
     } %>
        <td><%= eventNames %></td>
    <% } %>
    </tr>
<% } %>
</table>

<h2>Methods</h2>
<ul>
<%
    for(let mname in model.methods) {
        let method = model.methods[mname];
%>
    <li> <a href="doc/action/<%= mname %>"><%= mname %>() - <%= method.description %></a>
    <% } %>
</ul>
<h2>Method Details</h2>
    <% for(let mname in model.methods) {
        let method = model.methods[mname];
        method.name = model.name.toLowerCase() + '/' + mname;
%>
<%- partial("./templates/Action/_index.ejs", {action: method}) %>
<% } %>

