<div class="modelGraph">
    <svg width="960" height="300" id="DrawingArea2D"></svg>
    <script src="js/d3.js"></script>
    <script src="js/Graph2D.js"></script>
    <script type="module">
        let data = {nodes:{}, links:[]};
        let mname = '<%= model.name %>';
        let pkgName = '<%= model.package.name %>';
        let view = null;
        <% if(model.hasOwnProperty('view')) { %>
        view = '<%- model.view.object2d() %>';
        <% } %>

        data.nodes[mname] = {id:mname, name:mname, group: mname, level:pkgName, view:view};
        <% for(let aname in model.associations) {
           let assoc = model.associations[aname];
            let linkValue = 1;
            if(assoc.owner) {
                linkValue += 3;
            }
            if(assoc.composition) {
                linkValue += 5;
            }
            let acls = global.classes[assoc.type.replace(/\s/g,'')];
            let alevel = model.package;
            let aview =null;
            if(!acls) {
                console.log("Could not find:", assoc.type);
            } else {
                acls = acls.definition;
                alevel = acls.package;
                if(acls.hasOwnProperty('view')) {
                   aview = acls.view.object2d();
                }

            }
            %>
            data.nodes["<%= assoc.type %>"] = {id:"<%= assoc.type  %>", name:"<%= assoc.type %>", group: '<%= assoc.type %>', level: '<%= alevel.name %>', view: '<%- aview %>'};
            <%
            if(assoc.cardinality === 1) {
            %>
                data.links.push({source: mname, target:"<%= assoc.type %>", value: <%= linkValue %>, distance: <%= 10 - linkValue %>} );
            <% } else { %>
                data.links.push({source:mname, target:"<%= assoc.type %>", value: <%= linkValue %>, multiple:true, distance: <%= 10 - linkValue %>});
            <%}
        }
        %>
        let dname;
        let dview = null;
        let dpackage;
        <%
        for(let i in model.dependant) {
            let depend = model.dependant[i];
        %>
            dview = null;
            dname = '<%= depend.model.name %>';
        <% if(depend.model.hasOwnProperty('view')) { %>
                dview = '<%- depend.model.view.object2d() %>';
           <% } %>
            dpackage = '<%- depend.model.package.name %>';
            if(dview) {
                data.nodes[dname] = {id:dname, name:dname, group:dname, level:dpackage, view:dview};
            } else {
                data.nodes[dname] = {id:dname, name:dname, group:dname, level:dpkg};
            }
            data.links.push({source:dname, target:mname, value: 1, distance: 10} );
        <%
        }
        %>

        let graph = new Graph2D("DrawingArea2D", data);
    </script>
</div>
